* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 1000px;
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(rgb(199, 91, 91), rgb(206, 206, 89));
  
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.644);
}